#hometitle {
	text-align: center;
	font-size: 70px;
    font-variant: small-caps;
    padding: 50px;
    padding-bottom: 20px;
}

#enviro {
    text-align: center;
    font-size: 70px;
    font-variant: small-caps;
    padding: 50px;
    padding-bottom: 20px;
}

#humanrights {
    text-align: center;
    font-size: 70px;
    font-variant: small-caps;
    padding: 50px;
    padding-bottom: 20px;
}

#education {
    text-align: center;
    font-size: 70px;
    font-variant: small-caps;
    padding: 50px;
    padding-bottom: 20px;
}

#feminism {
    text-align: center;
    font-size: 70px;
    font-variant: small-caps;
    padding: 50px;
    padding-bottom: 20px;
}

#vision {
    text-align: center;
    font-size: 70px;
    font-variant: small-caps;
    padding: 50px;
    padding-bottom: 20px;
}

#creators {
    text-align: center;
    font-size: 70px;
    font-variant: small-caps;
    padding: 50px;
    padding-bottom: 20px;
}

#action {
    text-align: center;
    font-size: 70px;
    font-variant: small-caps;
    padding: 50px;
    padding-bottom: 20px;
}

#catch {
    text-align: center;
    font-size: 20px;
    color: black;
}

#resHome {
    text-decoration: underline;
}

#issue {
    border: 1px solid black;
}

#map {
    width: 50%;
    height: 450px;
}
#legend {
    font-family: Arial, sans-serif;
    font-size: 12;
    background: #fff;
    padding: 5px;
    margin: 5px;
    border: 2px solid #000;
      }
      
#legend img {
    vertical-align: left;
      }

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width:100%;
  }

#myCarousel {
    width: 50%;
    height:30%;
    margin: 0 auto;
}

.twitter-timeline{
    margin: .5%;
}

#timeline {
    margin-top: 3%;
    background-color: #e6e6e6;
}
.carousel-caption {
    background: rgba(0,0,0,0.5);
    padding: .1% !important;
    padding-bottom: 4.5% !important;
    right: 0px !important;
    left: 0px !important;
}
.carousel-caption p{
    font-size: 12px;
    color: white !important;
}

.carousel-caption h5{
    color: white !important;
    font-size: 15px;
    font-weight: bold;

}