/*homepage css*/
#hometitle {
    text-align: center;
    font-family: Sketch-Toronto;
    font-size: 100px;
    font-variant: small-caps;
    padding: 5%;
    padding-bottom: .001%;
    color:white;
}

#homeheader {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/editedbulbs.jpg);

}
#catch {
    text-align: center;
    font-size: 25px;
    color: black;
    font-family: Basic-Title;
    padding-bottom: 3%;
    color: white;
}

/*nav bar css*/
.float_center {
  float: right;

  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}

.float_center > .child {
  position: relative;
  left: 50%;
}

.clear {
  clear:both;
}

/*specific page css*/
#enviro {
    text-align: center;
    font-size: 100px;
    font-variant: small-caps;
    padding: 7%;
    color:white;
    font-family: Sketch-Toronto;
}

#environmentheader {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/environment.jpg);

}
#humanrights {
    text-align: center;
    font-size: 100px;
    font-variant: small-caps;
    padding: 7%;
    color:white;
    font-family: Sketch-Toronto;
}

#humanrightsheader {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/sadpic.jpg);
}

#education {
    text-align: center;
    font-size: 100px;
    font-variant: small-caps;
    padding: 7%;
    color: white;
    font-family: Sketch-Toronto;
}

#educationheader {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/classroom.jpg);
}

#feminism {
    text-align: center;
    font-size: 100px;
    font-variant: small-caps;
    padding: 7%;
    font-family: Sketch-Toronto;
}

#vision {
    text-align: center;
    font-size: 100px;
    font-variant: small-caps;
    padding: 7%;
    font-family: Sketch-Toronto;
}

#creators {
    text-align: center;
    font-size: 100px;
    font-variant: small-caps;
    padding: 7%;
    font-family: Sketch-Toronto;
}

#action {
    text-align: center;
    font-size: 100px;
    font-variant: small-caps;
    padding: 7%;
    font-family: Sketch-Toronto;
}

#resHome {
    text-decoration: underline;
}

#issue {
    border: 1px solid black;
}

/*map and legend css*/
#map {
    width: 50%;
    height: 450px;
}
#legend {
    font-family: Arial, sans-serif;
    font-size: 12;
    background: #fff;
    padding: 5px;
    margin: 5px;
    border: 2px solid #000;
      }
      
#legend img {
    vertical-align: left;
      }

/*carousel css*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width:100%;
  }

#myCarousel {
    width: 60%;
    height:40%;
    margin: 0 auto;
}


.carousel-caption {
    background: rgba(0,0,0,0.5);
    padding: .1% !important;
    padding-bottom: 4.5% !important;
    right: 0px !important;
    left: 0px !important;
}

.carousel-caption p{
    font-size: 12px;
    color: white !important;
}

.carousel-caption h5{
    color: white !important;
    font-size: 15px;
    font-weight: bold;

}

#welcome {
    margin-top: 3.5%;
    text-align: center;
    font-family: Basic-Title;
    font-weight: bold;
}

.welcomedescr {
    text-align: center;
    font-family: "Arial";
}

#welcomeback {
    background-color: #b7cad2;
    padding-top:.010009%;
}

.footerrow {
    padding-top: 3%;
    background-color: #b7cad2;
    margin-bottom: 0%;
    margin-top: 0%;
    padding-bottom: 3%;
    font-family: Basic-Title;
    font-size: 25px;
}

.twitterrow {
    padding-top: 5%;
    margin-bottom:0%;
    margin-top: 0%;
    background-color: #e6e6e6;
    padding-bottom: 5%;
}

/*ALL FONTS*/
/*call the font-family when you want to use that font*/
@font-face {
    font-family:Beyond-the-Mountains;
    src:url(../fonts/beyond_the_mountains.ttf);
}

@font-face {
    font-family: Aliens-Cows;
    src:url(../fonts/aliens_and_cows_trial.ttf);
}

@font-face {
    font-family: Sketch-Toronto;
    src: url(../fonts/sketch_toronto.otf);
}

@font-face {
    font-family: Basic-Title;
    src: url(../fonts/basictitlefont.ttf);
}