/*homepage css*/
#hometitle {
    text-align: center;
    font-family: Sketch-Toronto;
    font-size: 100px;
    font-variant: small-caps;
    padding: 5%;
    padding-bottom: .001%;
    color:white;
}

#homeheader {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/editedbulbs.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
#explSlide {
    text-align:center;
    color:lime;
}
#catch {
    text-align: center;
    font-size: 25px;
    color: black;
    font-family: Basic-Title;
    padding-bottom: 3%;
    color: white;
}

/*nav bar css*/
.float_center {
  float: right;

  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}

.float_center > .child {
  position: relative;
  left: 50%;
}

.clear {
  clear:both;
}

/*specific page css*/
#enviro {
    text-align: center;
    font-size: 100px;
    font-variant: small-caps;
    padding: 7%;
    color:white;
    font-family: Sketch-Toronto;
    color:white;
}

#environmentheader {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/environment.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

#climatechangevideo {
    color:white;

}

.environmentrow {
    background-image: url(../images/envirobackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
#humanrights {
    text-align: center;
    font-size: 100px;
    font-variant: small-caps;
    padding: 7%;
    color:white;
    font-family: Sketch-Toronto;
    color:white;
}

#humanrightsheader {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/sadpic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#education {
    text-align: center;
    font-size: 100px;
    font-variant: small-caps;
    padding: 7%;
    color: white;
    font-family: Sketch-Toronto;
    color:white;
}

#educationheader {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/classroom.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#edustats {
    text-align: center;
    font-weight:bold;
    font-family: Basic-Title;
    color:white;
}

#edubeforenow {
    border:5px solid black;
}

#mandela {
    border:5px solid black;
}

#stem {
    border:5px solid black;
}

.edurow1 {
    background-image: url(../images/greenboard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.edurow1 h3{
    color: white;
    font-family:Basic-Title;
    font-weight:bold;
}

a.eduted{
    color:white;
    font-family:Basic-Title;
}

#feminism {
    text-align: center;
    font-size: 100px;
    font-variant: small-caps;
    padding: 7%;
    font-family: Sketch-Toronto;
    color:white;
}

#feminismheader {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/feminism.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

#femstats h2 {
    text-align: center;
    font-family: Basic-Title;
    font-weight: bolder;
    text-decoration: underline;
}

#femstats h3 {
    text-align: center;
    font-family: Basic-Title;
    font-weight: bold;
}

.feminismrow {
    margin-top: 20px;
}

.feminismimg {
    margin: auto;
}

.femtitles {
    text-decoration: underline;
    font-family: Basic-Title;
    text-align: center;
    font-weight: bolder;
}

.femcolor {
    background-color: #ff66b3;
}

#vision {
    text-align: center;
    font-size: 100px;
    font-variant: small-caps;
    padding: 7%;
    color:white;
    font-family: Sketch-Toronto;
}

#visionheader {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/visionheader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#creators {
    text-align: center;
    font-size: 100px;
    font-variant: small-caps;
    padding: 7%;
    font-family: Sketch-Toronto;
    color:white;
}

#creatorsheader {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/creators.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#action {
    text-align: center;
    font-size: 100px;
    font-variant: small-caps;
    padding: 5%;
    font-family: Sketch-Toronto;
    padding-bottom: .001%;
    color:white;
}

#actionheader {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/handbulb.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

#resHome {
    text-decoration: underline;
}

#issue {
    border: 1px solid black;
}

/*map and legend css*/
#map {
    width: 50%;
    height: 450px;
}
#legend {
    font-family: Arial, sans-serif;
    font-size: 12;
    background: #fff;
    padding: 5px;
    margin: 5px;
    border: 2px solid #000;
      }
      
#legend img {
    vertical-align: left;
      }

 .mapdescription {
    text-align:center;
    background-color:#b7cad2;
    padding-top:10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

#mapac {
    font-family: Basic-Title;
    text-decoration: underline;
    font-weight: bolder;
}

#mapdesc {
    font-family: Arial;
}

/*carousel css*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width:100%;
  }

#myCarousel {
    width: 60%;
    height:40%;
    margin: 0 auto;
}


.carousel-caption {
    background: rgba(0,0,0,0.5);
    padding: .1% !important;
    padding-bottom: 4.5% !important;
    right: 0px !important;
    left: 0px !important;
}

.carousel-caption p{
    font-size: 12px;
    color: white !important;
}

.carousel-caption h5{
    color: white !important;
    font-size: 15px;
    font-weight: bold;

}

#welcome {
    margin-top: 3.5%;
    text-align: center;
    font-family: Basic-Title;
    font-weight: bold;
}

.welcomedescr {
    text-align: center;
    font-family: "Arial";
}

#welcomeback {
    background-color: #b7cad2;
    padding-top:.010009%;
}

.footerrow {
    padding-top: 3%;
    background-color: #b7cad2;
    margin-bottom: 0%;
    margin-top: 0%;
    padding-bottom: 3%;
    font-family: Basic-Title;
    font-size: 25px;
    font-weight: bold;
}

.twitterrow {
    padding-top: 5%;
    margin-bottom:0%;
    margin-top: 0%;
    background-color: #e6e6e6;
    padding-bottom: 5%;
}


#emailfoot {
    font-family: "Arial";
    color: grey;
}


/*social media in footer


Wrapper */
.icon-button {  
    background-color:white;
    border-radius: 3.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 2.0rem;
    height: 3.6rem;
    line-height: 3.6rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 3.6rem;
}

/* Circle */
.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
    width: 0;
}
.icon-button:hover span {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 3.6rem;
    margin: -1.8rem;
}
.twitter span {
    background-color: #4099ff;
}
.facebook span {
    background-color: #3B5998;
}
.google-plus span {
    background-color: #db5a3c;
}

/* Icons */
.icon-button i {
    color: white;
    height: 3.6rem;
    left: 0;
    line-height: 3.6rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
    width: 3.6rem;
    z-index: 10;
}
.icon-button .icon-twitter {
    color: #4099ff;
}
.icon-button .icon-facebook {
    color: #3B5998;
}
.icon-button .icon-google-plus {
    color: #db5a3c;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
    color: white;
}

/*ALL FONTS*/
/*call the font-family when you want to use that font*/
@font-face {
    font-family:Beyond-the-Mountains;
    src:url(../fonts/beyond_the_mountains.ttf);
}

@font-face {
    font-family: Aliens-Cows;
    src:url(../fonts/aliens_and_cows_trial.ttf);
}

@font-face {
    font-family: Sketch-Toronto;
    src: url(../fonts/sketch_toronto.otf);
}

@font-face {
    font-family: Basic-Title;
    src: url(../fonts/basictitlefont.ttf);
}