#hometitle {
	text-align: center;
	font-size: 70px;
    font-variant: small-caps;
    padding: 50px;
    padding-bottom: 20px;
}

#slideshow {
    padding: 100px;
}
    
#catch {
    text-align: center;
    font-size: 20px;
    color: black;
}

#resHome {
    text-decoration: underline;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}