#title {
	text-align: center;
	font-size: 70px;
    font-variant: small-caps;
    padding: 50px;
}

#slideshow {
    
    padding: 100px;
}
    
#catch {
    text-align: center;
    font-size: 20px;
    color: black;
}

#resHome {
    text-decoration: underline;
}
